@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

.page-main {
    display: flex;
  }

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    color: #333333;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;

}

.hero {
    background-image: url("../images/divider.png"), url("../images/index-background.png");
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
    background-position: left bottom, left top;
}

.subscribe-main {
    background-image: url("../images/subscribe.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

.hotels-filter {
    background-image: url("../images/filter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

.subscribe-button {
    font-family: inherit;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    background-color: #82b3d3;
    text-transform: uppercase;
}

.white {
    color: #ffffff;
}

.filter-button-submit {
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    background-color: transparent;
    text-transform: uppercase;
}

.filter-button-enter {
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    background-color: #82b3d3;
    text-transform: uppercase;
}

.catalog-select {
    color: #333333;
    background-color: #ffffff;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    background: #82b3d3;
    color: #ffffff;
    text-decoration: none;
}

.pagination-link-current {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    background: #f2f2f2;
    color: #000000;
}

.pagination-more {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.page-container {
    margin: 0 auto;
    width: 1200px;
    background-color: #ffffff;
   }

.navigation {
    display: flex;
    width: 1200;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 100;
    width: 500;
}

.navigation-user {
    max-width: 200px;
    margin-left: auto;
}

.page-header-logo {
    display: block;
    margin: 0 auto;
}

/* advantages */
.advantages {
    text-align: center;
}
.advantages-list {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}
.advantages-item {
    display: grid;
    width: 400px;
    height: 385px;
    background-color: #82b3d3;
    text-align: center;
}
.advantages-light {
    background-color: #F0F5F9;
}
.advantages-light-2 {
    background-color: #E6F0F6;
}
.advantages-transparent {
    background-color: transparent;
}
.advantages-title {
    display: grid;
    text-align: center;
    align-items: end;
}
/*services*/
.services {
    text-align: center;
}
.services-list  {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
  }
.services-item  {
    display: grid;
    width: 400px;
    height: 385px;
}

.services-light {
    background-color: #F0F5F9;
}
.services-title {
    display: grid;
    text-align: center;
    align-items: end;
}
/* interest */
.interest {
    text-align: center;
}
.interest-list  {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
  }
.interest-item  {
    display: grid;
    width: 1200px;
    height: 406px;
}
.interest-title {
    display: grid;
    text-align: center;
    align-items: end;
}
/* subscribe */
.subscribe {
    text-align: center;
}
.subscribe-list  {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
  }
.subscribe-item  {
    display: grid;
    width: 1200px;
    height: 207px;
}
.subscribe-title {
    display: grid;
    text-align: center;
    align-items: end;
}
/* footer */
.main-footer  {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 120px;
    text-align: center;
    align-items: center;
}
.footer-container  {
    margin: 70px;
    display: flex;
    justify-content: space-between;
    width: 1060px;
    height: 70px;
    text-align: center;
    align-items: center;
}
.social  {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 50px;
}
